<footer class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="f-info-brand"> &copy; Urban Odyssey Private Limited</div>
    <div class="f-info-links d-flex justify-content-between">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>