<% layout("/layouts/boilerplate") %>

    <body>
        <form method="post" action="/listings/create" novalidate class="needs-validation">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Listing Title</label>
                        <input type="text" name="listing[title]" class="form-control"
                            placeholder="Give your listing an eye-catching title!" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Short Description</label>
                        <input type="text" name="listing[description]" class="form-control"
                            placeholder="Describe your listing in a few words..." required>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" name="listing[image][url]" class="form-control"
                            placeholder="Paste an image link here">
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price ($)</label>
                                <input type="number" name="listing[price]" class="form-control"
                                    placeholder="Set a fair price for your listing" required>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-8">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" name="listing[country]" class="form-control"
                                    placeholder="Enter the country name" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">City / Town</label>
                        <input type="text" name="listing[location]" class="form-control"
                            placeholder="Where is this listing located?" required>
                    </div>
                    <button class="btn btn-dark">Create Listing</button><br><br>
                </div>
            </div>
        </form>
    </body>







    <!-- <% layout("/layouts/boilerplate") %>

    <body>
        <form method="post" action="/listings/create">
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" placeholder="title">
            </div><br>

            <div>
                <label for="description" class="form-label">Description</label>
                <input type="text" name="listing[description]" class="form-control" placeholder="description">
            </div><br>

            <div>
                <label for="image" class="form-label">Image URL</label>
                <input type="text" name="listing[image][url]" class="form-control" placeholder="image">
            </div><br>

            <div>
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control" placeholder="price">
            </div><br>

            <div>
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" placeholder="location">
            </div><br>

            <div>
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" placeholder="country">
            </div><br>

            <button class="btn btn-dark">Submit</button>
        </form>
    </body> -->